/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
/*=============== BASE ===============*/

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

a{
  text-decoration: none;
}

#fixed-button{
  position: fixed;
  bottom:10px;
  right: 10px;
  z-index: 4;
}


/*=============== NAVBAR ===============*/
.logo-button {
  background: rgba(255, 255, 255, 0.86);
  box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.68);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border: none;
  width: 180px;
  height: 65px;
}

.logo-image {
  width: auto;
  height: 48px;
}

.top-nav {
  background: #005e5e;
  color: #fff;
  }
  
.nav-heading {
  font-size: 24px;
  font-weight: 800;
}

.navbar-light .navbar-brand {
  color: #fff !important;
}

.top-nav {
  height: 40px !important;
}

.down-nav{
  height: 50px !important;
}

nav .navbar-nav li a {
  font-size: 16px;
  font-weight: 500;
  color: #fff !important;
}

li {
  list-style: none;
}

li a {
  font-size: 18px;
  font-weight: 700;
  color: #fff !important;
}

.navbar-light .navbar-toggler {
    border-color: #23c989;
  }
.navbar-toggler-icons {
  color: #fff;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.form-search {
  width: 200px;
  margin: 0.5rem;
}

form .search-button {
 background-color: #23c989;
  color: #fff;
  border-radius: 50px;
  border: 1px solid #fff;
}

form .search-text {
  color: #fff;
  background-color: #23c989;
  border-radius: 50px;
}

form .search-text:hover {
  color: #fff;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.form-control:focus {
    border-color: #23c989;
  color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.has-error .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

#searchID {
 background-color: #23c989;
  color: #fff;
  border: none;
}

.down-nav {
 background-color: #fff;
 color: #005e5e !important;
}

.donate-button{
  background-color: #ec9409;
  color: #fff;
  border:none;
}
.dropdown-menu {
  background-color: rgb(5, 156, 98, 0.6);
  border: none;
}

/* .dropdown:hover .dropdown-menu{
  display: block;
} */
.divider-style {
  background-color: #23c989;
}

/* Language */
.vr-style {
  color: #fff;
  margin-top: 10px;
  height: 25px;
  width: 2px;
  background-color: #fff;
}

.language-style {
  border: 1px solid #fff;
  border-radius: 17px;
}

.navbar-link {
  cursor: pointer;
}

.navbar-link:hover {
  /* color: #024A4A !important;
  background: #fff;
  box-shadow: 0px 4px 1px 5px #E8EDF0;
  display: block;
  border-radius: 50px; */
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  text-decoration-color: #fff;
}

.overlay-text {
  line-height: 80px;
}


.dropdown-item:hover {
  color: #fff;
  background: none;
}
/* Hero Section*/
.hero-cover{
  background-size: auto 100%;
  width:100%;
  height:100%;
  max-width: 100%;
  max-height: 100%;
  box-shadow:inset 0 0 0 2000px  rgba(0,0,0,.5);
  position: relative;
}
.caption{
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
}
.text-header{
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}
.hero-text{
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}
.explore-button{
  background-color: #008847;
  color: #fff;
  border: none;
  font-size:20px;
  border-radius: 50px;
  
}

/* Section */

.section-heading{
text-align: center;
font-size: 30px;
font-weight: 500;
}

.subsection-heading{
  text-align: center;
  font-size: 25px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.image img {
max-width: 100%;
height: auto;
}


.team-page-section{
position:relative;
padding-top:70px;
}

.team-page-section .team-block{
margin-bottom:60px;
}

.sec-title{
position:relative;
z-index:1;
margin-bottom:65px;
}

.sec-title .title{
position:relative;
font-size:18px;
color:#059c62;
font-weight:700;
margin-bottom:12px;
text-transform:capitalize;
}

.sec-title .separator{
position:relative;
width:40px;
margin-top:16px !important;
}

.sec-title .separator:before{
position:absolute;
content:'';
left:0px;
top:0px;
width:10px;
height:2px;
background-color:#008847;
}

.sec-title .separator:after{
position:absolute;
content:'';
right:0px;
top:0px;
width:10px;
height:2px;
background-color:#008847;
}

.sec-title .separator span{
position:absolute;
left:50%;
top:-2px;
width:10px;
height:5px;
margin-left:-5px;
display:inline-block;
background-color: #024a4a;
}

.sec-title h2{
position:relative;
color:#008847;
font-weight:700;
font-size:30px;
line-height:1.2em;
margin-top:35px;
}

.sec-title .text{
position:relative;
font-size:18px;
line-height:1.9em;
color: #008847;
margin-top:10px;
}

.sec-title.centered .separator{
margin:0 auto !important;
float:none !important;
}

.sec-title.centered{
text-align: center !important;
}

.sec-title.light .title{
color:#ffffff;
}

.sec-title.light h2{
color:#ffffff;
}

.sec-title.light .separator span{
background-color: #008847;
}

.sec-title.light .separator:before,
.sec-title.light .separator:after{
background-color:#ffffff;
}

.team-section{
position:relative;
padding:80px 0px 60px;
}

.team-section.style-two .pattern-layer{
position:absolute;
left:0px;
top:0px;
right:0px;
bottom:0px;
background-position:center center;
background-repeat:no-repeat;
}

.team-section .title-box{
position:relative;
text-align:center;
}

.team-section .title-box h2{
position: relative;
color: #222222;
font-size: 30px;
font-weight: 700;
line-height: 1.3em;
margin-bottom: 50px;
}

.team-block{
position:relative;
}





.team-block .inner-box .lower-content h3{
position:relative;
color: #fff;
font-size:25px;
font-weight:700;
line-height:1.3em;
}

.team-block .inner-box .lower-content h3 a{
position:relative;
color: #fff;
-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;
text-decoration: none;
}

.team-block .inner-box .lower-content .designation{
position:relative;
margin-top:5px;
color:#fff;
font-size:18px;
}

.explore-button2{
background-color: rgba(255, 255, 255, 0.86);
border:none;
border-radius: 20px;

}





/*=============== Footer section ===============*/
.footer-style {
  background-color: #001818d4;
}

.contact-us-text {
  margin-top: 20px;
  color: #fff;
}

.logo-img {
  /* background-color: white; */
  /* padding: 10px; */
  width: 170px;
  border-radius: 12px;
}

.follow-us {
  margin-top: 10px;
}

.follow-us p {
  color: white;
}

.follow-us a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}

.anchor-links a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}

.anchor-links__spacing {
  margin-top: 16px;
}

.img-space {
  margin-left: 8px;
}

.map-div {
  background: #fff;
  webkit-border-radius: 43px;
  -moz-border-radius: 43px;
  border-radius: 43px;
  margin: 0 auto;
  overflow: hidden;
  width: 400px;
  height: 300px;
}

.initial-footer {
  background-color: #2c4040;
}

.footer-text-p {
  color: white;
}

/*=============== Media screen for mobile devices ===============*/

@media only screen and (max-width: 600px) {
  /* Navbar */

  .nav-heading {
    font-weight: 700;
  }

  nav .navbar-nav li a {
    font-weight: 500;
  }

  .form-search {
    width: 200px;
  }

  .overlay {
    display: none;
  }

  /* Forest Section */
  .image-container .explore-btn {
    top: 30%;
    font-size: 25px;
    padding: 10px 20px;
  }

  /* Scroll down button */
  .scroll-down-btn {
    top: 42%;
  }

  .forest-img {
    position: absolute;
    display: block;
    top: 50%;
  }

  .forest-text-style {
    font-size: 35px;
  }

  /* Forest Div */
  .forest-div {
    border: none;
    cursor: pointer;
    background-color: #024a4a;
    height: 60px;
  }

  .forest-image {
    position: relative;
    margin-top: -100;
    background-image: url("../images/forest.png");
    background-position: center;
    background-repeat: repeat;
  }

  /* All Section */
  .heading-text {
    font-size: 35px;
  }

  /* Footer */
  .footer-style {
    height: 0px;
  }

  /* ---------- for covering the mobile space auto ----------------- */

  .anchor-links__spacing {
    margin-top: 10px;
  }

  .phone-spacing {
    margin-top: 10%;
  }

  .map-div {
    margin-top: 10%;
    width: 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .map-div {
    margin-top: 10%;
    width: 300px;
    height: 300px;
  }

  .overlay {
    display: none;
  }

  .language-style {
    border: none;
  }

  .section-image {
    border-radius: 15px;
    width: 400px;
    height: 250px;
    object-fit: cover;
  }

  .paragraph-text {
    margin-top: 1rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 991px) {
  .overlay {
    display: none;
  }

  .navbar-link:hover {
    color: #fff !important;
    background: none;
    box-shadow: none;
  }

  .language-style {
    border: none;
  }
}

@media only screen and (max-device-width: 991px) {
  .icons-nav{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  /* For landscape layouts only */
  .map-div {
    width: 300px;
    height: 300px;
  }

  .section-image {
    width: 400px;
    height: 200px;
    object-fit: cover;
  }
}

/* --------------------------------------------- media screen for tab (pro) portrait ------------------------------------------- */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1254px) {
  .map-div {
    width: 300px;
    height: 300px;
  }
}
